

@{ ViewBag.Title = "Add a Manifestation"; }

<h2>Add Manifestation</h2>

<div style="color:red">
    @ViewBag.Message
</div>

<form  method="post"  action="~/Manifestacija/AddManifestation" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="naziv" required /></td>
        </tr>

        <tr>
            <td>Type of Manifestation:</td>
            <td>
                <input list="tipManifestacije" name="tipManifestacije" required />
                <datalist id="tipManifestacije">
                    <option value="KONCERT"></option>
                    <option value="FESTIVAL"></option>
                    <option value="POZORISTE"></option>

                </datalist>
            </td>
        </tr>

        <tr>
            <td>Number of seats:</td>
            <td><input type="text" name="br_mesta" /></td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><input type="datetime-local"  placeholder="dd-mm-yyyy" value=""
             min="1997-01-01" max="2030-12-31" /></td>
        </tr>
        <tr>
            <td>
                Price REGULAR:

            </td>
            <td>
                <input type="text" min="1" id="cena_REGULAR" name="cena_REGULAR">
            </td>
        </tr>

        <tr>
            <td>Street:</td>
            <td>
                <input type="text" id="ulica" name="mestoOdrzavanja.Ulica">
            </td>

            <td>Street Number:</td>
            <td>
                <input type="text"  id="broj" name="mestoOdrzavanja.Broj">
            </td>

            <td>City:</td>

            <td><input type="text" name="mestoOdrzavanja.Grad" /></td>

            <td>PostNum:</td>

            <td><input type="text" name="mestoOdrzavanja.Postanski_Broj" /></td>

        </tr>
        <tr>
            <td>Photo:</td>
            <td>
              
                    <input type="file" name="file" />
                    @ViewBag.Message
               
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="AddManifestion" />
            </td>
        </tr>
    </table>
</form>

<form method="get" action="~/Home/Index">
    <input type="submit" value="Back">
</form>